@page "/UserPages/deleteUser"
@using BlazorApp.Services
@using DTOs
@inject IUserService HttpUserService

<PageTitle>Delete User</PageTitle>

<h1>Delete a User</h1>

<label>Enter UserID:</label>
<input @bind="userId" placeholder="UserID..."/>
<button style="color: red" @onclick="HandleUserDeletetion">Delete</button>


@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p style="color: red">@errorMessage</p>
}
else if (!string.IsNullOrWhiteSpace(successMessage))
{
    <p style="color: green">@successMessage</p>
}

@code
{
    private int userId;

    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;

    public async Task HandleUserDeletetion()
    {
        try
        {
            var user = await HttpUserService.getUserByIdAsync(userId);
            if (user != null)
            {
                await HttpUserService.deleteUserAsync(userId);
                successMessage = $"Succesfully Deleted User With ID: {userId}";
                errorMessage = string.Empty;
            }
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
            successMessage = string.Empty;
        }
    }



}
